@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('/fonts/rotobo.woff2') format('woff2'),
    url('/fonts/roboto.woff') format('woff'), font-weight normal;
  font-style: normal;
}
